* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #27410aa1;
}

.container {
  background: white;
  padding: 2rem;
  min-height: 60vh;
  width: 380px;
  border-radius: 1rem;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
  font-weight: 600;
}

form {
  margin-top: 1rem;
}

.amount input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  border: 1px solid #dcdcdc;
  font-size: 1rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.8rem;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.6rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.75rem;
  background: #fff;
}

.select-container img {
  width: 32px;
}

.select-container select {
  border: none;
  outline: none;
  background: none;
  font-size: 1rem;
}

.dropdown i {
  font-size: 1.6rem;
  color: #555;
  margin-top: 1rem;
}

.msg {
  margin: 1.5rem 0;
  font-size: 1.1rem;
  text-align: center;
  color: #444;
  font-weight: 500;
}

button {
  width: 100%;
  padding: 1rem;
  background: #3e3c4d;
  color: white;
  font-size: 1.1rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #464555;
}
